# Archivos y carpetas de IntelliJ IDEA
.idea/
*.iml

# Carpetas de compilación
build/
out/

# Archivos de logs
*.log

# Archivos temporales del sistema
*.swp
*.tmp
*.bak

# Archivos de configuración de inspección/QA
qodana.yaml

# Archivos de empaquetado
*.jar
*.war
*.ear

# Configuración específica de usuario
.DS_Store
Thumbs.db