# IntelliJ IDEA
.idea/
*.iml

# Compilación Maven/Gradle
target/
build/
out/

# Archivos de empaquetado
*.jar
*.war
*.ear

# Logs y temporales
*.log
*.tmp
*.bak
*.swp

# Configuración de inspección/QA
qodana.yaml

# Archivos específicos de usuario
.DS_Store
Thumbs.db